h1, h2, h3, h4, h5, h6 {
  font-family: "Hammersmith One", sans-serif; }

p, a, li {
  font-family: "Roboto", sans-serif; }

.admin * {
  box-sizing: border-box; }
.admin .button {
  padding: 6px 10px 4px;
  text-decoration: none;
  border: 2px solid #d068e2;
  color: #d068e2;
  font-family: "Hammersmith One", sans-serif;
  display: inline-block; }
  .admin .button:hover {
    background: #d068e2;
    color: black; }
.admin--text {
  width: 100%;
  overflow: auto;
  margin-bottom: 10px; }
  .admin--text--info {
    width: 100%;
    margin-bottom: 10px; }
  .admin--text--buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px; }
    .admin--text--buttons .button {
      margin-right: 10px; }
.admin--loggedin {
  float: right;
  width: calc(100% - 300px);
  background: #111;
  overflow: auto; }
  .admin--loggedin h4 {
    padding: 18px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.5);
    float: left; }
  .admin--loggedin a {
    float: right;
    margin: 15px 10px; }
.admin form ul li {
  margin-bottom: 10px; }
  .admin form ul li label, .admin form ul li input, .admin form ul li textarea, .admin form ul li select {
    font-size: 1rem;
    padding: 5px; }
  .admin form ul li label {
    display: inline-block;
    width: 150px; }
  .admin form ul li input, .admin form ul li textarea {
    width: 50%; }
  .admin form ul li select {
    min-width: 30%; }
  .admin form ul li .js-image--preview {
    width: 50px;
    height: 50px;
    margin: 5px 0 10px 154px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .admin form ul li input[type=submit] {
    width: auto;
    padding: 6px 20px 4px;
    text-decoration: none;
    border: 2px solid #d068e2;
    color: #d068e2;
    font-family: "Hammersmith One", sans-serif;
    display: inline-block;
    background: none;
    margin-top: 10px;
    cursor: pointer; }
    .admin form ul li input[type=submit]:hover {
      background: #d068e2;
      color: black; }
.admin table {
  background: white; }
.admin thead td,
.admin tr td {
  vertical-align: top;
  padding: 5px 10px; }
  .admin thead td img,
  .admin tr td img {
    width: 100px; }
  .admin thead td span.tinyint,
  .admin tr td span.tinyint {
    display: inline-block;
    padding: 2px 10px 1px;
    font-weight: bold;
    color: white; }
    .admin thead td span.tinyint--true,
    .admin tr td span.tinyint--true {
      background: #05b914; }
    .admin thead td span.tinyint--false,
    .admin tr td span.tinyint--false {
      background: #b90505; }
.admin thead {
  background: rgba(0, 0, 0, 0.8);
  color: white; }
.admin tr:nth-of-type(2n) {
  background: rgba(0, 0, 0, 0.1); }
.admin main {
  float: right;
  padding: 20px;
  margin: 20px;
  width: calc(100% - 340px);
  background: white;
  overflow: auto; }
  .admin main h3 {
    color: black; }
.admin nav {
  position: fixed;
  width: 300px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.8); }
  .admin nav h1 a {
    display: block;
    font-size: 3rem;
    color: white;
    background: #111;
    text-align: center;
    padding: 40px 20px;
    line-height: 120%;
    text-decoration: none; }
  .admin nav ul li a {
    display: block;
    padding: 15px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: white; }
    .admin nav ul li a:hover {
      background: rgba(208, 104, 226, 0.2); }

/*# sourceMappingURL=admin.css.map */
