/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-size: 14px; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 3.00rem; }

h2 {
  font-size: 2.66rem; }

h3 {
  font-size: 2.33rem; }

h4 {
  font-size: 2.00rem; }

h5 {
  font-size: 1.66rem; }

h6 {
  font-size: 1.33rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold; }

p, li, a, td, pre {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 150%; }

body {
  background: #222; }

header {
  width: 100%;
  overflow: hidden; }
  header .image {
    width: 100%;
    height: 60vh;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: 120%; }
  header .image.small {
    height: 10vh; }
  header nav {
    width: 100%;
    background: #111;
    display: flex;
    justify-content: center; }
    header nav a {
      display: block;
      padding: 10px 30px 5px;
      font-size: 1.5rem;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
      font-family: "Hammersmith One", sans-serif;
      border-bottom: 5px solid transparent; }
      header nav a:hover {
        border-color: #d068e2; }
  header div.text {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: rgba(17, 17, 17, 0.6); }
    header div.text h1 {
      color: #d068e2;
      font-size: 5rem;
      padding-bottom: 20px;
      font-family: "Hammersmith One", sans-serif; }
    header div.text h2 {
      color: white;
      font-family: "Roboto", sans-serif; }

main {
  width: 1140px;
  margin: 50px auto;
  min-height: calc(100vh - 528px - 84px); }
  main h3, main p {
    color: #efefef;
    margin-bottom: 30px; }

footer {
  margin-top: 200px;
  background: #111;
  padding: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2); }

.gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .gallery a {
    display: block;
    width: calc(20% - 20px);
    padding-top: calc(20% - 20px);
    margin-right: 25px;
    margin-bottom: 25px;
    float: left;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1); }
  .gallery a:nth-of-type(5n) {
    margin-right: 0; }

.single p {
  color: rgba(255, 255, 255, 0.9); }
.single img {
  margin: 20px 0;
  max-width: 100%; }

.tags {
  min-width: calc(20% - 20px);
  padding: 5px;
  font-size: 1.1rem;
  margin-bottom: 25px; }

.line:after {
  content: ' ';
  margin-top: 15px;
  display: block;
  width: 100px;
  height: 5px;
  background-color: #d068e2; }

/*# sourceMappingURL=main.css.map */
