.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        display: block;
        width: calc(20% - 20px);
        padding-top: calc(20% - 20px);
        margin-bottom: 25px;
        float: left;
        background-position: center;
        background-size: cover;
    }
}

.single {
    p {
        color: rgba(white, 0.9);
    }

    img {
        margin: 20px 0;
        max-width: 100%;
    }
}
